{# Table construction adapted from https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app/templates #}

<div id="browse" style="display: block">
<p><strong>Editing Employee Supporting Clinical Trials</strong></p>
<table border="1" cellpadding="5">
<thead>
<tr>
    <th></th>
    <th></th>
    <!-- Iterate through each key in the first entry to get the column name -->
    {% for key in supporting_employee[0] %}

        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
        <th>{{ key }}</th>

    <!-- End of this for loop -->
    {% endfor %}
</tr>
<tbody>

<!-- Now, iterate through every person in supporting employees -->

<tr>
    <td><a href="/edit-suppoorting-employee/{{supporting_employee[0]['Employee Id']}}">Edit</a></td>
    <td><a href="#" onClick="deleteEntity()">Delete</a></td>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in supporting_employee[0] %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{supporting_employee[0][key]}}</td>
    {% endfor %}
</tr>
</table>

<div id="edit">

    <form id="editSupportingEmployee" action="/edit-supporting-employee/{{supporting_employee[0]['Employee Id']}}" method="POST">

        <legend><strong>Edit Employee Supporting Clinical Trial </strong></legend>
        <fieldset>
            <input type="hidden" value="{{supporting_employee[0]['Employee Id']}}" class="form-control" id="employee_id" name="employee_id" required>

            <label for="clinical_trials_clinical_trial_id">Clinical Trial Id:</label>
            <input type="text" value="{{supporting_employee[0]['Clinical Trial Id']}}" class="form-control" id="clinical_trial_id" name="clinical_trial_id" required>

            <label for="employee_trial_role">Position:</label>
            <input type="text" value="{{supporting_employee[0]['Employee Trial Role']}}" class="form-control" id="employee_trial_role" name="employee_trial_role" required>

        </fieldset>
    <input type="submit" value="Edit Supporting Employee" name="Edit_Supporting_Employee" class="btn btn-primary" style="margin:.5rem;">
    <a href='/employees'><input class="btn" type="button" value="cancel"></a>

</form>

</html>